---
import type { ProjectCardProps } from '../../types/ProjectCardProps';
import ProjectsGrid from './ProjectsGrid.astro';

const { projects } = Astro.props;
---

<div class="projects-section">
    <h2 class="section-title">Featured Projects</h2>
    <ProjectsGrid projects={projects.filter((project: ProjectCardProps) => project.featured).sort((a: ProjectCardProps, b: ProjectCardProps) => b.year - a.year)} />
</div>

<style>
    .section-title {
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 2rem;
        text-align: center;
        background: linear-gradient(83.21deg, #3245ff 0%, #bc52ee 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    .projects-section {
        max-width: 1200px;
        margin: 2rem auto;
        padding: 0 1rem;
    }
</style> 