---
import ImageCard from './common/ImageCard.astro';
import type { ImageCardProps } from '../types/ImageCardProps';
const { images } = Astro.props;
---

<div class="gallery">
    {images.map((image: ImageCardProps) => (
        <ImageCard 
            {...image}
            size="dynamic"
        />
    ))}
</div>

<style>
    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(clamp(10rem, 15vw, 28rem), 1fr));
        gap: clamp(1rem, 2vw, 2rem);
        padding: clamp(1rem, 2vw, 2rem);
        width: 100%;
        margin: 0 auto;
        justify-items: center;
    }

    @media (min-width: 2000px) {
        .gallery {
            grid-template-columns: repeat(auto-fit, minmax(clamp(20rem, 20vw, 35rem), 1fr));
        }
    }

    @media (max-width: 640px) {
        .gallery {
            grid-template-columns: repeat(auto-fit, minmax(clamp(8rem, 40vw, 15rem), 1fr));
        }
    }
</style> 